a:link, a:visited, a:active{
    text-decoration: none;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    color:#f4f4f4;
}
a:hover{
    background-color:#494FBE;
}
.Card{
    list-style: none;
    display:grid;
    justify-content: left;
    margin-left: 50px;
    margin-right: 50px;
    color: #f4f4f4;
    text-decoration: none;
    margin-top: 100px;

}
.image{

    background-color:#494FBE;
    
}
@media screen and (max-width:500px ) {
    .Card{
        justify-content: left;
        margin-left: -30px;
        margin-top: 50px;
        margin-right: -10px;
        width: 300px;

    }
    .image{

        background-color: #494FBE;
    }
      
}